In [1]:
import numpy as np
import pandas as pd
from apyori import apriori

In [12]:
df = pd.read_csv('C:/Intel/caesarian.csv')

In [13]:
df.head()

,age,delivery number,delivery time,blood of pressure,heart problem,caesarian
0,22,1,0,2,0,0
1,26,2,0,1,0,1
2,26,2,1,1,0,0
3,28,1,0,2,0,0
4,22,2,0,1,0,1

In [14]:
df.shape

(80, 6)

In [19]:
df.describe()

,age,delivery number,delivery time,blood of pressure,heart problem,caesarian
count,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000
mean,27.687500,1.662500,0.637500,1.000000,0.375000,0.575000
std,5.017927,0.794662,0.815107,0.711568,0.487177,0.497462
min,17.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,1.000000,0.000000,0.750000,0.000000,0.000000
50%,27.000000,1.000000,0.000000,1.000000,0.000000,1.000000
75%,32.000000,2.000000,1.000000,1.250000,1.000000,1.000000
max,40.000000,4.000000,2.000000,2.000000,1.000000,1.000000

dari hasil analisis didapatkan; melahirkan dg normal tanpa ada masalah yaitu pada usia 32 (72%)