In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
data = pd.read_excel('C:/Intel/naive_bayes.xls')

In [27]:
data.head()

       day discount free delivery purchase
0  weekday      yes           yes      yes
1  weekday      yes           yes      yes
2  weekend       no            no       no
3  holiday      yes           yes      yes
4  weekday      yes           yes      yes

In [28]:
data.shape

(50, 4)

In [29]:
data['purchase'].value_counts()

yes    40
no     10
Name: purchase, dtype: int64

In [30]:
pYes = 40/50
pNo = 10/50

In [31]:
print(pYes)

0.8

In [32]:
print(pNo)

0.2

In [35]:
pd.crosstab(data['day'], data['purchase'])

purchase  no  yes
day
holiday    0   10
weekday    0   30
weekend   10    0

In [36]:
pHolidayNo = 0/10
pWeekdayNo = 0/10
pWeekendNo = 10/10

pHolidayYes = 10/40
pWeekdayYes = 30/40
pWeekendYes = 0/40

pHoliday = 10/50
pWeekday = 10/50
pWeekend = 10/50

print(pWeekdayYes)

0.75

In [42]:
pNoWeekday = (pWeekdayNo*pNo)/pWeekday
print(pNoWeekday)

0.0

In [43]:
pYesWeekday = (pWeekdayYes*pYes)/pWeekday
print(pYesWeekday)

3.0000000000000004

In [44]:
print(pNoWeekday)
print(pYesWeekday)

0.0
3.0000000000000004

In [45]:
pd.crosstab(data['discount'], data['purchase'])

purchase  no  yes
discount
no        10    0
yes        0   40

In [46]:
pNoDiscountNo = 10/10
pYesDiscountNo = 0/10

pNoDiscountYes = 0/40
pYesDiscountYes = 40/40

pNoDiscount = 10/50
pYesDiscount = 40/50

In [47]:
pd.crosstab(data['free delivery'], data['purchase'])

purchase       no  yes
free delivery
no             10    0
yes             0   40

In [48]:
pNoDeliveryNo = 10/10
pYesDeliveryNo = 0/10

pNoDeliveryYes = 0/40
pYesDeliveryYes = 40/40

pNoDelivery = 10/50
pYesDelivery = 40/50

In [49]:
pNoBuy1 = ((pHolidayNo*pYesDiscountNo*pYesDeliveryNo)*pNo)/(pHoliday*pYesDiscount*pYesDelivery)
print(pNoBuy1)

0.0

In [50]:
pBuy2 = ((pHolidayYes*pYesDiscountYes*pYesDeliveryYes)*pYes)/(pHoliday*pYesDiscount*pYesDelivery)
print(pBuy2)

1.5624999999999998

In [52]:
pSum = pNoBuy1+pBuy2
print(pSum)

1.5624999999999998

In [53]:
pBuy = (pBuy2/pSum) *100
print(pBuy)

100.0

In [54]:
pNoBuy = (pNoBuy1*pSum)*100
print(pNoBuy)

0.0